{% extends 'app/layout.html' %}
{% block body %}
<h2>Preencha os campos abaixo para calcular o campo harmônico:</h2>
<form>
    <label>Tonalidade:</label><br>
    <input type="text" name="tonalidade" id="tonalidade"><br>
    <select name="escala" class="escala">
        <option value="escalaMaior">Escala maior</option>
        <option value="escalaMenor">Escala menor</option>
    </select><br>
    <button type="submit" class="btncalcular">Calcular</button>
</form>
<div class="campoHarmonico">
    <h2>Campo Harmônico resultante</h2>
    <table>
        <tbody>
            <tr>
                <td>
                    <input type="text" class="campo1"></iput>
                </td>
                <td>
                    <input type="text" class="campo2"></iput>
                </td>
                <td>
                    <input type="text" class="campo3"></iput>
                </td>
                <td>
                    <input type="text" class="campo4"></iput>
                </td>
                <td>
                    <input type="text" class="campo5"></iput>
                </td>
                <td>
                    <input type="text" class="campo6"></iput>
                </td>
                <td>
                    <input type="text" class="campo7"></iput>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="campo8"></iput>
                </td>
                <td>
                    <input type="text" class="campo9"></iput>
                </td>
                <td>
                    <input type="text" class="campo10"></iput>
                </td>
                <td>
                    <input type="text" class="campo11"></iput>
                </td>
                <td>
                    <input type="text" class="campo12"></iput>
                </td>
                <td>
                    <input type="text" class="campo13"></iput>
                </td>
                <td>
                    <input type="text" class="campo14"></iput>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="campo15"></iput>
                </td>
                <td>
                    <input type="text" class="campo16"></iput>
                </td>
                <td>
                    <input type="text" class="campo17"></iput>
                </td>
                <td>
                    <input type="text" class="campo18"></iput>
                </td>
                <td>
                    <input type="text" class="campo19"></iput>
                </td>
                <td>
                    <input type="text" class="campo20"></iput>
                </td>
                <td>
                    <input type="text" class="campo21"></iput>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="campo22"></iput>
                </td>
                <td>
                    <input type="text" class="campo23"></iput>
                </td>
                <td>
                    <input type="text" class="campo24"></iput>
                </td>
                <td>
                    <input type="text" class="campo25"></iput>
                </td>
                <td>
                    <input type="text" class="campo26"></iput>
                </td>
                <td>
                    <input type="text" class="campo27"></iput>
                </td>
                <td>
                    <input type="text" class="campo28"></iput>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="acordespai">
    <h2>Acordes:</h2>
    <h3>tríades:</h3>
    <div class="acordes1">

    </div>
    <h3>Tétrades</h3>
    <div class="acordes2">

    </div>
</div>
<div class="formComentarios">
    <form action="{% url 'addComentarios' %}" method="post">
        {% csrf_token %}
        <label>Título:</label><br>
        <input type="text" name="tituloComentario" placeholder="título do comentário"><br>
        <label>Comentário:</label><br>
        <textarea name="comentario"></textarea><br>
        <button type="submit">Adicionar comentário</button>
    </form>
</div>
<div class="comentarios">
    {% for c in comentarios %}
    <h3>{{c.titulo}}</h3>
    <p><strong>{{c.autor}}</strong></p>
    <p>{{c.texto}}</p>
    {% endfor %}
</div>
{% endblock %}